name: BDN Create App
on:
  workflow_dispatch:
    inputs:
      name:
        description: Name of the app
        required: true

permissions:
  actions: read
  contents: write
  id-token: write
  pull-requests: write

jobs:
    build:
      name: Run Script
      runs-on: windows-latest
      steps:
        - uses: actions/checkout@v4
        - name: Script
          run: .\BDN\Scripts\BDNCreateApp.ps1 -AppName ${{ github.event.inputs.name }}
          shell: powershell

        - name: Commit and push changes
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
            git config user.name "GitHub Actions Bot"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add ${{ github.event.inputs.name }}
            git commit -m "Add new app ${{ github.event.inputs.name }} via GitHub Actions"
            git push origin HEAD:main
