name: BDN Initialize Documentation
on: [workflow_dispatch]

permissions:
  actions: read
  contents: write
  id-token: write
  pull-requests: write

jobs:
    build:
      name: Run Script
      runs-on: windows-latest
      steps:
        - uses: actions/checkout@v4
        - name: Script
          run: .\BDN\Scripts\BDNInitDocumentation.ps1
          shell: powershell

        - name: Commit and push changes
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
            git config user.name "GitHub Actions Bot"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add "docs"
            git commit -m "Add docs folder via GitHub Actions"
            git push origin HEAD:main
